body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10 px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800 px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(239, 80, 41);
    margin: 0 auto;
    display: flex;
    padding: 10 px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10 px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    margin-top: 20 px;
}

.sidebar {
    margin-right: 25 px;
    padding: 10 px;
}

.sidebar-img {
    width: 200 px;
}

.content {
    flex: 1;
    padding: 15 px;
}

/* interests section styles */
#interests {
    border: 4 px silver ridge;
    padding: 8 px;
    margin-top: 20 px;
}

h2, h3 {
    margin: 0 px;
}

/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10 px;
  border-radius: 10 px;
  margin-bottom: 10 px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10 px;
  border-radius: 10 px;
  margin-bottom: 10 px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}








