body {
    background: #bbf9ff;
    color: rgb(0, 0, 0);
    padding: 15 px;
    font-family: arial, sans-serif;
}

#all-contents {
    max-width: 800 px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(255, 0, 0);
    margin: 0 auto;
    display: flex;
    padding: 10 px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10 px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* main container area beneath menu */
main {
    background: rgb(255, 253, 253);
    display: flex;
    margin-top: 200 px;
}

.sidebar {
    margin-right: 25 px;
    padding: 10 px;
}

.sidebar-img {
    width: 20 px;
}

.content {
    flex: 1;
    padding: 15 px;
}

/* interests section styles */
#interests {
    border: 4 px silver ridge;
    padding: 8 px;
    margin-top: 20 px;
}

h2, h3 {
    margin: 0 px;
}

/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10 px;
  border-radius: 10 px;
  margin-bottom: 10 px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10 px;
  border-radius: 10 px;
  margin-bottom: 10 px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}








/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10 px;
  border-radius: 10 px;
  margin-bottom: 10 px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}





