
body {
  background-color: darkgreen;
}

#board {
  width: 440 px;
  height: 440 px;
  border: 1 px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20 px;
  height: 20 px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}
